In [1]:
#Rahaf Saeed Alhalai 442807504
import sqlite3

# for Connect to the database
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# a)Create table and insert data
cursor.execute('''CREATE TABLE Student (
                    stdID INTEGER PRIMARY KEY,
                    stdName TEXT,
                    stdMajor TEXT
                )''')

students = [
    (324521, 'Khalid', 'Accounting'),
    (334673, 'Ali', 'Computer Science'),
    (742421, 'Elias', 'Engineering')
]

cursor.executemany('INSERT INTO Student VALUES (?, ?, ?)', students)

In [2]:
#Rahaf Saeed Alhalai 442807504
# b) all the Operations
# 1.Update student Major from 'Accounting' to 'Medicine'
cursor.execute("UPDATE Student SET stdMajor = 'Medicine' WHERE stdID = 324521")

# 2.Alter table by adding a new column called 'age'
cursor.execute("ALTER TABLE Student ADD COLUMN age INTEGER")

# this command to Commit the changes
conn.commit()

# To Check if the new column 'age' was added
cursor.execute("PRAGMA table_info(Student)")
table_info = cursor.fetchall()
column_names = [column[1] for column in table_info]
age_column_exists = 'age' in column_names
print(f"Is 'age' column added? {age_column_exists}")

Is 'age' column added? True

In [3]:
#Rahaf Saeed Alhalai 442807504
# 3.Drop the table
cursor.execute("DROP TABLE Student")

# TO Check if the table exists
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='Student'")
table_exists = cursor.fetchone() is not None
print(f"Does 'Student' table exist? {table_exists}")

#after every thing we should Close the connection
conn.close()

Does 'Student' table exist? False